<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin - Dashboard</title>
</head>

<body>
    <div class="nav-con">
        <div class="logo">
            <div class="logo-text">QuickCart</div>
            <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 3H6L9 15H19L22 6H7" stroke="#64B6AC" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <circle cx="10" cy="18" r="2" stroke="#CCD6F6" stroke-width="2" fill="none" />
                <circle cx="18" cy="18" r="2" stroke="#CCD6F6" stroke-width="2" fill="none" />
                <g class="tag">
                    <path d="M15 5L18 8L16 10L13 7L15 5Z" stroke-linecap="round" stroke-linejoin="round" fill="#FF6F00"
                        stroke="#FF6F00" stroke-width="1.5" />
                    <circle cx="15" cy="7" r="0.8" fill="#0A192F" />
                </g>
            </svg>
        </div>
        <div class="heading">Admin Dashboard!</div>
        <div class="btns-con">
            <button class="btn" onclick="showForm(0); showCard(0)">Products</button>
            <button class="btn" onclick="showForm(1); showCard(1)">Vouchers</button>
            <button class="btn" onclick="showForm(2); showCard(2)">Users</button>
            <button class="btn" onclick="showForm(3); showCard(3)">Orders</button>
            <button class="btn" onclick="showForm(4); showCard(4)">Categories</button>
        </div>
    </div>

    <div class="main-con">
        <div class="card-preview">
            <img class="pro-img" src="/assets/product.webp" alt="">
            <div class="pro-details">
                <div class="pro-name">
                    Online Karachi Bamboo Handle Pizza Rolling Cutter Steel/1pcs Pizza Cutter Wheel Shaped Stainless
                    Steel Pizza With Bamboo Handles And Sharp Rotating Blades Pizza Slicer Roll
                </div>
                <div class="pro-price-con">
                    <div class="pro-price">Rs.950</div>
                    <div class="before-dis">Rs.1000</div>
                    <div class="discount">-5%</div>
                </div>
                <div class="pro-info">
                    <div class="pro-buyer">11 Sold</div>
                    <div class="pro-rate">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </div>
                    <span class="pro-revs">(10)</span>
                </div>
            </div>
        </div>

        <div class="form-slider-container">
            <div class="forms-slider">
                <form id="productForm" class="form" action="">
                    <div class="form-heading">Add Products!</div>
                    <div class="inputs">
                        <div class="image-upload-container">
                            <label for="image-upload" class="upload-label">Choose an image</label>
                            <input type="file" id="image-upload" class="image-upload-input" accept="image/*">
                        </div>
                        <input id="proName" type="text" name="proName" placeholder="Product Name">
                        <input id="proPrice" type="number" name="proPrice" placeholder="Product Price">
                        <input id="proOrignalPrice" type="number" name="proOrignalPrice"
                            placeholder="Product Orignal Price">
                        <input id="proDiscount" type="number" name="proDiscount" placeholder="Product Discount">
                        <input id="proBuyer" type="number" name="proBuyer" placeholder="Product Buyer">
                        <input id="proRating" type="number" name="proRating" placeholder="Product Rating" min="0">
                        <input id="proNoOfReviews" type="number" name="proNoOfReviews"
                            placeholder="Product No of Reviews">
                        <input id="proDescription" type="text" name="proDescription" placeholder="Product Description">
                        <input id="proCategory" type="text" name="proCategory" placeholder="Product Category">
                        <input id="proID" type="text" name="proId" placeholder="Product ID">
                    </div>
                    <button class="btn-submit">Add Product</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>

</html>