<!DOCTYPE html>
<html lang="en">

<head data-info="<%= success %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/common/new-pass.css">
    <link rel="stylesheet" href="/css/common/googlebtn.css">
    <link rel="stylesheet" href="/css/common/inputs.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register - QuickCart</title>
</head>

<body>
    <div class="main-container">
        <div id="modalRoot"></div>
        <div class="left">
            <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 3H6L9 15H19L22 6H7" stroke="#64B6AC" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <circle cx="10" cy="18" r="2" stroke="#CCD6F6" stroke-width="2" fill="none" />
                <circle cx="18" cy="18" r="2" stroke="#CCD6F6" stroke-width="2" fill="none" />
                <g class="tag">
                    <path d="M15 5L18 8L16 10L13 7L15 5Z" stroke-linecap="round" stroke-linejoin="round" fill="#FF6F00"
                        stroke="#FF6F00" stroke-width="1.5" />
                    <circle cx="15" cy="7" r="0.8" fill="#0A192F" />
                </g>
            </svg>
            <span class="heading">Hello Friend,<br>Welcome To Our QuickCart</span>
            <div class="text">
                QuickCart offers a seamless platform to design and order high-quality custom products tailored to your
                style. From apparel to accessories, everything is crafted with precision and delivered with care. Sign
                up today to unlock full access to our design tools, exclusive offers, and a personalized shopping
                experience built just for you.
            </div>
            <div class="social-links">
                <a class="circle twi" href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a class="circle face" href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a class="circle insta" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="circle you" href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="mobile-txt">
                <span class="heading2">Hello Friend,<br>Welcome To Our QuickCart Here You Can Register!</span>
                <div class="text2">
                    QuickCart offers a seamless platform to design and order high-quality custom products tailored to
                    your
                    style.Sign up today to unlock full access to our design tools, exclusive offers, and a personalized
                    shopping
                    experience built just for you.
                </div>
            </div>
            <span class="heading">Create Your Account!</span>
            <a href="/auth/google/register" class="continue-btn">
                <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="Google logo">
                Continue with Google
            </a>
            <!-- <div></div> -->
            <form id="registerForm" action="/user/register" method="post">
                <div class="field">
                    <input type="text" name="fullname" id="fullname" placeholder=" " required />
                    <label for="fullname">Full-Name</label>
                </div>
                <div class="field">
                    <input type="text" name="username" id="username" placeholder=" " required />
                    <label for="username">Username</label>
                </div>
                <div class="field">
                    <input type="email" id="email" placeholder=" " required />
                    <label for="email">Email</label>
                </div>
                <div class="field">
                    <input type="text" name="phone" id="phone" placeholder=" " required />
                    <label for="phone">Phone</label>
                </div>
                <div class="field">
                    <select id="city" name="city" required>
                        <option value="" disabled selected hidden></option>
                        <option value="Karachi">Karachi</option>
                        <option value="Lahore">Lahore</option>
                        <option value="Islamabad">Islamabad</option>
                        <option value="Peshawar">Peshawar</option>
                        <option value="Quetta">Quetta</option>
                        <option value="Multan">Multan</option>
                        <option value="Faisalabad">Faisalabad</option>
                    </select>
                    <label for="city">City</label>
                </div>
                <div class="field">
                    <input type="text" name="address" id="address" placeholder=" " required />
                    <label for="address">Address</label>
                </div>
                <div class="field">
                    <input type="password" name="password" id="password" placeholder=" " required />
                    <label for="password">Password</label>
                    <i class="fa-solid fa-eye eye"></i>
                </div>
                <div class="field">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder=" " required />
                    <label for="confirmPassword">Confirm Password</label>
                    <i class="fa-solid fa-eye eye"></i>
                </div>
                <div>
                    <div class="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        <label for="terms">I agree to the <a href="/terms-and-conditions" class="terms-btn">Terms &
                                Conditions</a></label>
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;gap:
                        20px;">
                        <div style="transform: scale(0.77);">
                            <div class="g-recaptcha" style="user-select: none;"
                                data-sitekey="<%= RECAPTCHA_SITE_KEY %>">
                            </div>
                        </div>
                        <div class="err-msg"></div>
                        <button class="submit-btn" type="submit">Sign Up</button>
                    </div>
                </div>
            </form>
            <div class="have-acc">Already have an account? <button class="login-btn">Login</button></div>
            <div class="social-links mob">
                <a class="circle twi" href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a class="circle face" href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a class="circle insta" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="circle you" href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>


    <script src="/js/common/at-start.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>