:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    scroll-behavior: smooth;
}

.nav-con {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px;
    background: var(--Primary);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-text {
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    color: var(--Heading);
    user-select: none;
}

.icon {
    width: 40px;
}

.tag {
    transform-origin: top center;
    animation: dangle 1.5s ease-in-out infinite alternate;
}

@keyframes dangle {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.heading {
    color: var(--Accent);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.btns-con {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 30px 0px;
    color: var(--Highlight);
}

.btn {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 5px;
    text-align: center;
    border: 2px solid var(--Heading);
    color: var(--Heading);
    border-bottom: none;
    cursor: pointer;
    transition: .5s ease;
}

.btn:hover {
    color: var(--Primary);
    background-color: var(--Heading);
}

.main-con {
    display: flex;
    align-items: center;
    position: relative;
}

.card-preview {
    position: absolute;
    left: 20px;
    width: 235px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000002b;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
}

.card-preview:hover {
    box-shadow: 3px 3px 10px #00000052;
}

.card-preview img {
    width: 100%;
    height: 235px;
}

.pro-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pro-name {
    font-size: 13.5px;
    color: #021d2a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.pro-price-con {
    display: flex;
    align-items: center;
    gap: 5px;
}

.before-dis {
    color: #9e9e9e;
    font-size: 10px;
    text-decoration: line-through;
}

.discount {
    color: #212121;
    font-size: 10px;
}

.pro-price {
    color: var(--Accent);
    font-size: 18px;
}

.pro-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.pro-buyer {
    font-size: 13px;
    color: #021d2a;
}

.pro-rate {
    padding: 0px 0px 0px 4px;
    height: 15px;
    display: flex;
    align-items: center;
    border-left: 1px solid #0000004f;
}

.pro-rate i {
    font-size: 13px;
    color: #ffc636;
}

.pro-revs {
    font-size: 10px;
    margin-top: 1px;
    color: #8f93a0;
}

.form-slider-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.forms-slider {
    display: flex;
    width: 500%;
    transition: transform 0.4s ease;
}

.form {
    width: 100%;
    flex: 0 0 20%;
    padding: 10px;
    background-color: #f5f5f500;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.form-heading {
    font-size: 25px;
    font-weight: 700;
    color: var(--Accent);
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image-upload-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f5f5;
}

.upload-label {
    font-size: 18px;
    font-weight: bold;
    color: #021e2b;
    cursor: pointer;
    transition: .2s ease;
}

.image-upload-input {
    display: none;
}

.form input {
    outline: none;
    padding: 7px 5px;
    background: var(--Highlight);
    border: 1px solid var(--Heading);
    border-radius: 5px;
    color: #021e2b;
}

.form input::placeholder {
    color: #021e2b;
}

.btn-submit {
    padding: 5px 15px;
    text-align: center;
    color: var(--Accent);
    border: 2px solid var(--Accent);
    border-radius: 5px;
    cursor: pointer;
    background-image: url(https://devmaster7.github.io/Pages-for-Mega-Project/assets/liquid.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .5s ease;
}

.btn-submit:hover {
    color: white;
    background-position: center;
}