:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    scroll-behavior: smooth;
}

main {
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--Primary);
}

.nav-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #023047;
    color: white;
    padding: 10px 0px 10px 35px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: unset;
    position: static;
    z-index: 0;
    transition: all .3s ease;
}

.nav-con.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: #000000c9 0px 2px 20px;
}

.nav-links {
    display: flex;
}

.btns {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--Heading);
    padding: 4px 10px;
    transition: color 0.3s ease;
    display: flex;
}

.btns::after {
    content: "";
    position: absolute;
    left: 13%;
    bottom: 0;
    width: 75%;
    height: 2.1px;
    background: var(--Accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.btns:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-con .logo-con {
    /* width: 210px; */
    margin-right: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-con .logo-text {
    font-family: 'Indie Flower', cursive;
    user-select: none;
    font-size: 38px;
    font-weight: 400;
    color: #CCD6F6;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    height: 40px;
    display: flex;
    text-align: center;
    /* width: 160px; */
    clip-path: inset(0 100% 0 0);
    animation: revealText 1.7s ease-out forwards;
    justify-content: center;
    align-items: center;
}

.nav-con .icon-con {
    position: absolute;
    left: 100%;
    animation: moveCart 1.5s ease-out forwards;
}

.nav-con .logo-con .icon {
    width: 50px;
    height: 50px;
}

.nav-con .tag {
    transform-origin: top center;
    animation: dangle 1.5s ease-in-out infinite alternate;
}

@keyframes moveCart {
    0% {
        left: -350px;
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        left: 100%;
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    40% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        /* left: 155px; */
    }

    50% {
        transform: translateY(-8px);
        /* left: 155px; */
    }

    100% {
        transform: translateY(0);
        /* left: 155px; */
    }
}

@keyframes dangle {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.user-con {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.user-content-con {
    width: 260px;
    border-radius: 3px;
    position: absolute;
    background: var(--Highlight);
    top: 10px;
    right: 65px;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--Heading);
}

.user-content-con::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid var(--Highlight);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.landing-page {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-left {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-left img {
    height: 102%;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0px 0px 8px black;
    position: absolute;
    top: -10px;
    user-select: none;
    -webkit-user-drag: none;
}

.landing-center {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-text {
    color: #031f2d;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    display: ruby;
}

.heading-text div span {
    color: var(--Accent);
    white-space: nowrap;
    font-size: xx-large;
    font-weight: 800;
    overflow: hidden;
    letter-spacing: 2px;
    display: flex;
    width: 100%;
    border-right: 3px solid var(--Accent);
    animation: typing 3s ease-in infinite alternate, blink .9s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.other-text {
    color: #031f2d;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.landing-center .btn-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 60px;
}

.register-btn {
    padding: 10px;
    border-radius: 5px;
    color: var(--Highlight);
    background: var(--Secondary);
}

.login-btn {
    padding: 10px 18px;
    border-radius: 5px;
    color: var(--Highlight);
    background: var(--Accent);
}

.shop-btn {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 400;
    color: var(--Secondary);
    border: 2px solid var(--Secondary);
    cursor: pointer;
    background-image: url("/assets/blueLiquid.png");
    border-radius: 5px;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
    animation: pulse 1.3s ease infinite;
}

.shop-btn:hover {
    color: white;
    background-position: center;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(33, 157, 188, 0.7);
    }

    70% {
        box-shadow: 0 0 15px 5px rgba(0, 119, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 119, 255, 0);
    }
}


.login-btn:hover {
    background: #bb6407;
}

.register-btn:hover {
    background: #0f728a;
}

.sale-text {
    margin-top: 35px;
    text-align: center;
}

.sale-text span {
    color: var(--Accent);
    font-size: 20px;
    font-weight: 700;
}

.landing-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.right-con {
    width: 100%;
    height: 85%;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
    grid-template-areas:
        "box1 box2"
        "box3 box4"
        "box5 box6";
}

.imgg {
    width: 130px;
    border-radius: 12px;
    box-shadow: 3px 1px 10px rgb(0 0 0 / 45%);
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--Primary);
    border-radius: 50%;
    transition: .2s;
}

.circle i {
    color: var(--Highlight);
    transition: .2s;
}

.circle:hover {
    background: var(--Highlight);
    border: 1px solid rgba(119, 119, 119, 0.842);
}

.insta:hover i {
    color: #e4405f;
}

.face:hover i {
    color: #0965fd;
}

.tik:hover i {
    color: #020202;
}

.you:hover i {
    color: #ea0000;
}

.content-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-page div {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry -20% cover 20%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.customize-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    overflow: hidden;
    border-bottom: 2px solid var(--Primary);
}

.cust-left {
    width: 75%;
    display: flex;
    padding: 0px 0px 0px 35px;
}

.cust-left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cust-left div span {
    color: var(--Accent);
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.gif1 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    right: -20px;
    transform: rotate(18deg);
    user-select: none;
    -webkit-user-drag: none;
}

.cust-left div div {
    color: #031f2d;
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    position: relative;
}

.gif2 {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: -5px;
    left: -15px;
    transform: rotate(350deg);
    user-select: none;
    -webkit-user-drag: none;
}

.cust-right {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.cust-right .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px 25px;
    height: 400px;
    box-shadow: inset 0px 0px 5px #00000057;
}

.preview-pic {
    width: 200px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-logo {
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
}

.preview-pic img {
    /* width: 100%;
    height: 100%; */
    border-radius: 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.position-size {
    display: none;
    gap: 10px;
}

.position-size div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position-size input {
    text-align: center;
    width: 75px;
    height: 25px;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
}

.position-size input::placeholder {
    color: rgb(29, 29, 29);
}

.img-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-selection .img-box {
    width: 40px;
    height: 37px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Heading);
    overflow: hidden;
    user-select: none;
}

.img-selection .img-box.active {
    border: none;
    box-shadow: 2px 2px 4px #00000038;
    transform: scale(1.1);
    transition: .2s ease;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    user-select: none;
    -webkit-user-drag: none;
}

.color-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 1 !important;
}

.color-selection .color-box {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Heading);
    opacity: 1 !important;
}

.color-selection .color-box.active {
    border: none;
    box-shadow: 2px 2px 4px #00000038;
    transform: scale(1.1);
    transition: .2s ease;
}

.custom-file-upload {
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 400;
    color: var(--Accent);
    border: 2px solid var(--Accent);
    cursor: pointer;
    background-image: url("/assets/orangeLiquid.png");
    border-radius: 12px;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
}

.custom-file-upload:hover {
    color: white;
    background-position: center;
}

.delivery-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 0px;
    border-bottom: 2px solid var(--Primary);
}

.delivery-con .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-con .left img {
    width: 85%;
    border-radius: 15px;
    box-shadow: 2px 2px 19px #0000005e;
}

.delivery-con .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.delivery-con .right span {
    font-size: 34px;
    font-weight: 800;
    color: var(--Accent);
}

.delivery-con .right div {
    font-size: 28px;
    font-weight: 600;
    color: #031f2d;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--Primary);
    scroll-margin-top: 60px;
}

.review-heading {
    text-align: center;
    color: var(--Accent);
    font-weight: 800;
    font-size: 31px;
    cursor: default;
    margin-top: 30px;
}

:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;

    --w: min(100%, 980px);
    --gap: 30px;
    --bg: #0b0d12;
    --card-scale-center: 1;
    --card-scale-side: 0.88;
    --card-scale-other: 0.78;
    --transition: 450ms cubic-bezier(.22, .9, .25, 1);
    --autoplay-ms: 3500;
}

.carousel {
    width: var(--w);
    height: 290px;
    background: transparent;
    max-width: 980px;
    position: relative;
}

.viewport {
    height: 100%;
    overflow: hidden;
    border-radius: 14px;
    background: transparent;
    padding: 28px;
}

.track {
    display: flex;
    align-items: stretch;
    gap: var(--gap);
    transition: transform var(--transition);
    will-change: transform;
    padding: 6px 0
}

.slide {
    --card-w: calc((100% - (var(--gap) * 2)) / 3);
    flex: 0 0 var(--card-w);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    border-radius: 12px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .25);
    transition: transform var(--transition), opacity var(--transition), box-shadow var(--transition);
    transform-origin: center center;
    opacity: 0.95
}

.meta {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    flex-shrink: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #12374a, var(--Primary));
    display: grid;
    place-items: center;
    color: #fff;
    font-weight: 700;
}

.who {
    display: flex;
    flex-direction: column
}

.who .rating {
    display: flex;
    align-items: center
}

.rating .star {
    color: #ffdd26;
    font-size: 20px;
}

.who .name {
    font-weight: 700;
    color: #494949;
}

.who .role {
    font-size: 13px;
    color: #6d6d6d;
}

.text {
    font-size: 15px;
    line-height: 1.45;
    color: #6b6b6b;
    margin-top: 6px;

}

.slide--center {
    transform: scale(var(--card-scale-center));
    z-index: 3;
    box-shadow: 0 18px 34px rgba(0, 0, 0, 0.29)
}

.slide--side {
    transform: scale(var(--card-scale-side));
    z-index: 2;
    opacity: 0.98
}

.slide--other {
    transform: scale(var(--card-scale-other));
    z-index: 1;
    opacity: 0.7
}

.controls {
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px
}

.controls .btn {
    pointer-events: auto;
    border: 0;
    background: rgb(117 117 117 / 25%);
    color: #858585;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    cursor: pointer;
    backdrop-filter: blur(59px);
}

.controls .btn:active {
    transform: scale(.97)
}

.faqs-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    padding: 25px 170px;
    scroll-margin-top: 60px;
}

.faq-heading {
    font-size: 22px;
    font-weight: 800;
    color: var(--Accent);
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-topic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #063750;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.faq-topic-text {
    font-size: 20px;
    font-weight: 600;
    background: #063750;
    color: white;
}

.extender {
    color: white;
}

.extender-con {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: #063750;
    color: white;
    border-radius: 5px;
}

.question {
    font-size: 18px;
    font-weight: 600;
}

.answer {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f6f8ffe0;
}

/* TODO: Media Queries */

/* Height Responsive */
@media (max-height: 400px) {
    /* body {
        background: #ffa32b;
     */

    main {
        height: unset;
        padding-bottom: 25px;
    }
}

/* Tablet devices */
@media (min-width: 481px) and (max-width: 1024px) {
    /* body {
        background: #ff0000;
     */

    .landing-left {
        display: none;
    }

    .landing-center {
        width: 60%;
        padding: 0 10px;
    }

    .landing-right {
        width: 40%;
    }

    .right-con .imgg:nth-of-type(3) {
        display: none;
    }

    .right-con .imgg:nth-of-type(2) {
        grid-area: box5;
    }

    .cust-left {
        padding: 0px 15px !important;
    }

    .faqs-con {
        padding: 10px 100px;
    }
}

@media (max-width: 890px) {
    /* body {
        background: greenyellow;
     */

    .nav-con {
        padding: 10px 20px;
        gap: 20px;
    }

    .theme__icon {
        display: none;
    }

    .customize-con {
        flex-direction: column;
        gap: 30px;
    }

    .cust-left {
        width: unset;
    }

    .cust-right {
        padding: 0 !important;
    }

    .delivery-con {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 50px 10px;
    }

    .delivery-con .right {
        width: 100%;
        gap: 10px;
    }

    .delivery-con .right span {
        text-align: center;
    }

    .delivery-con .right div {
        text-align: center;
    }

    .delivery-con .left {
        width: 100%;
    }

    .track {
        gap: unset;
        /* overflow: hidden; */
    }
}

@media (max-width: 690px) {
    /* body {
        background: #0000ff;
     */

    .nav-con {
        justify-content: center;
    }

    .logo-con {
        margin: 0;
    }

    .theme__icon {
        display: none;
    }

    .landing-center {
        width: 65%;
        padding: 10px;
    }

    .logo-con {
        right: unset;
    }

    .nav-links {
        display: none;
    }

    .main-page {
        justify-content: space-between;
    }

    .landing-right {
        width: 35%;
        padding-right: 5px;
    }

    .right-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 65px;
    }

    .right-con .imgg:nth-of-type(2) {
        display: none;
    }

    .btn-con {
        margin-top: 25px;
    }

    .sale-text {
        margin-top: 25px;
    }

    .faqs-con {
        padding: 10px 20px;
    }
}

@media (max-width:740px) {
    .slide {
        flex: 0 0 50%;
    }
}

@media (max-width: 640px) {
    /* body {
        background: #c800ff;
     */

    .heading-text {
        font-size: 27px;
        font-weight: 700;
        margin-top: 5px;
    }

    .heading-text span {
        font-size: 28px;
        font-weight: 800;
    }

    .other-text {
        font-size: 13px;
    }

    .cust-left div span {
        font-size: 35px;
    }

    .cust-left div div {
        font-size: 25px;
        line-height: unset;
    }

    .delivery-con .right span {
        font-size: 37px;
        font-weight: 700;
    }

    .delivery-con .right div {
        font-size: 25px;
    }

    .review {
        width: 100% !important;
    }

    .carousel {
        width: 100%;
        height: 250px;
    }

    .viewport {
        width: 100%;
        padding: 18px
    }

    .slide {
        flex: 0 0 85%
    }

    .avatar {
        width: 48px;
        height: 48px
    }
}

/* styles for small mobile screens */
@media (max-width: 480px) {
    /* body {
        background: #0be7ff;
     */

    main {
        background-size: unset;
        height: auto;
        position: static;
    }

    .landing-left {
        display: none;
    }

    .landing-right {
        display: none;
    }

    .landing-center {
        width: 100%;
        padding-top: 10px;
    }

    .heading-text {
        font-size: 35px;
        font-weight: 700;
        margin-top: 15px;
    }

    .heading-text span {
        font-size: 38px;
        font-weight: 800;
    }

    .other-text {
        margin-top: 10px;
        font-size: 15px;
    }

    .btn-con {
        margin-top: 30px;
    }

    .register-btn {
        padding: 11px 17px;
    }

    .login-btn {
        padding: 10px 18px;
    }

    .sale-text {
        font-size: 20px;
        margin-top: 35px;
    }

    .sale-text span {
        font-size: 22px;
    }

    .content-page div {
        animation-range: entry -110% cover 20%;
    }

    .cust-left div span {
        font-size: 31px;
    }

    .cust-left div div {
        font-size: 21px;
    }

    .cust-left {
        width: unset;
        padding: 0px 10px;
    }

    .position-size input {
        width: unset;
        height: unset;
    }

    .cust-right .right {
        padding: 0px 10px;
    }

    .delivery-con .right span {
        font-size: 31px;
        font-weight: 700;
    }

    .delivery-con .right div {
        font-size: 21px;
    }

    .faqs-con {
        padding: 10px 15px;
    }
}

@media (max-width: 320px) {
    /* body {
        background: rgb(255, 251, 3);
 } */

    .nav-con {
        flex-direction: row;
        justify-content: start;
        gap: 0px;
        padding: 10px 5px;
    }

    .user-con {
        right: 10px;
    }

    .btn-con {
        gap: 40px;
    }

    .position-size {
        gap: 2px;
    }

    .color-selection {
        gap: 10px !important;
    }
}