:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 20px 30px;
    background: #e7edff80;
}

.main-heading {
    text-align: center;
    color: var(--Accent);
    font-size: 33px;
    font-weight: 800;
    padding: 20px 8px;
}

.boxs-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-con {
    background: var(--Highlight);
    border-radius: 4px;
    padding-bottom: 7px;
    border: 1px solid var(--Heading);
}

.box-bar-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background: #ececec87;
    border-bottom: 1px solid var(--Heading);
}

.box-heading {
    color: #03283b;
    font-size: 20px;
    font-weight: 700;
}

.box-change {
    font-size: 16px;
    color: var(--Accent);
    cursor: pointer;
}

.user-details-con {
    color: #03283b;
    padding: 3px 200px 3px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}

.user-details-con div {
    display: flex;
}

.user-details-con span {
    font-weight: 600;
    font-size: 16px;
    color: var(--Secondary);
    margin-right: 10px;
}

.product-detail-con {
    display: flex;
    align-items: center;
    margin: 15px 15px 10px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid var(--Heading);
    background: #ececec87;
}

.product-img {
    width: 130px;
    height: 120px;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-details {
    width: 85%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 0px 0px 15px;
}

.additional-details {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #031923;
    font-size: 19px;
    overflow: hidden;
}

.orignal-price-con {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.orignal-price-con .pro-price {
    color: var(--Accent);
    font-size: 25px;
}

.orignal-price-con .before-dis {
    color: #9e9e9e;
    font-size: 13px;
    text-decoration: line-through;
}

.orignal-price-con .pro-discount {
    color: #212121;
    font-size: 11px;
}

.product-size-color {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
    color: var(--Secondary);
}

.product-size .pro-size-select {
    width: 45px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid var(--Heading);
    text-align: center;
    background: #e5e5e5;
    color: #02141c;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-color .pro-color-select {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--Heading);
}

.select-cust-price {
    margin-left: 10px;
}

.mini-price-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 5px;
    height: 0%;
    padding: 5px 15px;
    border-radius: 5px;
    background: #e5e5e5;
    font-size: 18px;
}

.mini-price-con .pro-quantity {
    color: var(--Primary);
    font-size: 18px;
}

.mini-price-con .pro-price {
    color: var(--Accent);
    font-size: 24px;
}

.right {
    width: 30%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background: var(--Highlight);
    border: 1px solid var(--Heading);
    border-radius: 4px;
    overflow: hidden;
}

.input-coupon-con {
    display: flex;
    border-bottom: 1px solid var(--Heading);
    background: #ececec87;
}

.input-coupon-con input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #02141c;
    background: transparent;
}

.input-coupon-con button {
    padding: 5px;
    color: var(--Accent);
    border-left: 1px solid var(--Heading);
    background-image: url(/assets/orangeLiquid.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
}

.input-coupon-con button:hover {
    color: white;
    background-position: center;
}

.msg {
    font-size: 13px;
    text-align: center;
    display: none;
}

.success {
    color: #32d732;
    display: block;
}

.err {
    display: block;
    color: red;
}

.prices-con {
    padding: 15px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-price {
    font-size: 22px;
    color: var(--Accent);
    font-weight: 600;
}

.coupon-con {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price-detail {
    color: var(--Primary);
    font-size: 17px;
}

.price-detail span {
    color: var(--Secondary);
    font-weight: 600;
}

.total-price-with-coupon {
    font-size: 22px;
    color: var(--Accent);
    font-weight: 600;
}

.payment-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.payment-con .heading {
    color: var(--Primary);
    width: 100%;
    font-weight: 600;
}

.payment-con .pics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.payment-options {
    width: 50px;
    cursor: not-allowed;
    user-select: none;
    -webkit-user-drag: none;
    border: 1px solid #9da4bd;
    opacity: 0.4;
    border-radius: 5px;
    overflow: hidden;
}

.active {
    cursor: pointer;
    border: 2px solid var(--Accent);
    border-radius: 5px;
    opacity: 1;
    width: 60px;
}

.payment-con button {
    padding: 10px 20px;
    color: var(--Secondary);
    border: 1px solid;
    background-image: url(/assets/blueLiquid.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
    border-radius: 4px;
}

.payment-con button:hover {
    color: white;
    background-position: center;
}

@media (max-width: 1050px) {
    .boxs-container {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .main-heading {
        font-size: 30px;
    }

    .box-heading {
        font-size: 18px;
    }

    .box-change {
        font-size: 15px;
    }

    .user-details-con span {
        font-size: 15px;
    }

    .user-details-con div {
        font-size: 15px;
    }

    .product-name {
        font-size: 18px;
    }

    .orignal-price-con {
        gap: 5px;
    }

    .orignal-price-con .pro-price {
        font-size: 23px;
    }

    .mini-price-con .pro-quantity {
        font-size: 17px;
    }

    .mini-price-con .pro-price {
        font-size: 22px;
    }

    .product-size-color {
        gap: 3px;
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .main-container {
        padding: 0px 10px 30px;
    }

    .user-details-con {
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 6px 8px;
        align-items: center;
        padding: 3px 10px;
    }

    .user-details-con div {
        display: contents;
    }

    .main-heading {
        font-size: 25px;
        padding: 20px 0px;
    }

    .box-heading {
        font-size: 17px;
    }

    .product-detail-con {
        flex-direction: column;
    }

    .product-details {
        width: 90%;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .orignal-price-con .pro-price {
        font-size: 21px;
    }

    .orignal-price-con .before-dis {
        font-size: 11px;
    }

    .orignal-price-con .pro-discount {
        font-size: 9px;
    }

    .mini-price-con {
        margin-left: 0px;
        width: 100%;
    }

    .mini-price-con .pro-quantity {
        font-size: 17px;
    }

    .mini-price-con .pro-price {
        font-size: 21px;
    }

    .total-price {
        font-size: 21px;
    }
}