:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    scroll-behavior: smooth;
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: var(--Highlight);
}

.pass-con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02304737;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 10;
}

.pass-con form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    background: var(--Highlight);
}

.pass-con form .heading {
    color: var(--Accent);
    font-size: 32px;
    font-weight: 800;
}

.pass-con form .password {
    position: relative;
    display: flex;
    align-items: center;
}

.pass-con form .password input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    color: #383838;
}

.pass-con form .password i {
    position: absolute;
    right: 7px;
    color: #383838;
    cursor: pointer;
}

.pass-con form .err-msg {
    display: flex;
    color: red;
    font-size: 12px;
    position: relative;
    margin: 0px;
}

.pass-con form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: var(--Highlight);
    background-color: var(--Secondary);
    cursor: pointer;
    transition: .2s;
}

.pass-con form button:hover {
    background-color: #1f849d;
}

.error {
    position: fixed;
    top: 0;
    z-index: 9;
    user-select: none;
    background: #00000085;
    color: var(--Highlight);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    display: none;
}

.left {
    width: 40%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 130px 20px 0px;
    position: relative;
    background-color: var(--Primary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bubble {
    position: absolute;
    bottom: -60px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: rise 12s linear infinite;
}

@keyframes rise {
    0% {
        transform: translateY(0vh) scale(1);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-180vh) scale(1.7);
        opacity: 0;
    }
}

.icon {
    width: 55px;
    position: absolute;
    top: 50px;
    cursor: pointer;
}

.tag {
    transform-origin: top center;
    animation: dangle 1.5s ease-in-out infinite alternate;
}

@keyframes dangle {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.left .heading {
    color: var(--Accent);
    font-size: 32px;
    font-weight: 700;
}

.left .text {
    color: var(--Highlight);
    font-size: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: var(--Primary);
    border-radius: 50%;
    transition: .2s;
    z-index: 9;
}

.circle i {
    color: var(--Highlight);
    transition: .2s;
    font-size: 22px;
}

.circle:hover {
    background: var(--Highlight);
    border: 1px solid rgba(119, 119, 119, 0.842);
}

.twi:hover i {
    color: #020202;
}

.face:hover i {
    color: #0965fd;
}

.insta:hover i {
    color: #e4405f;
}

.you:hover i {
    color: #ea0000;
}

.right {
    width: 60%;
    /* height: 100%; */
    padding: 10px 30px 10px 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    /* gap: 15px; */
}

.right .heading {
    color: var(--Accent);
    font-size: 35px;
    font-weight: 800;
}

.right form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.select2-container--default .select2-selection--single {
    outline: none;
    width: 300px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    transition: .2s ease;
    border-radius: 5px;
    border: .5px solid var(--Heading);
}

.select2-results__option--selectable,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.right form input::placeholder {
    color: #021c29 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px;
    right: 1px;
    width: 20px;
}

.right form .field i {
    position: absolute;
    right: 7px;
    top: 35%;
    color: #383838;
    cursor: pointer;
}

.terms {
    width: 95%;
    padding-left: 4px;
}

.terms input {
    width: 13px !important;
}

.terms label {
    color: #021c29 !important;
}

.terms-btn {
    cursor: pointer;
    color: var(--Accent);
    text-decoration: underline;
}

.err-msg {
    position: absolute;
    margin-top: 15px;
    font-size: 13px;
    color: red;
    display: none;
}

.right form .submit-btn {
    padding: 7px 0px;
    width: 130px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--Accent);
    border: 2px solid var(--Accent);
    cursor: pointer;
    background-image: url(/assets/orangeLiquid.png);
    border-radius: 12px;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
}

.right form .submit-btn:hover {
    color: white;
    background-position: center;
}

.have-acc {
    color: #021c29;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

.have-acc button {
    color: var(--Accent);
    text-decoration: underline solid var(--Accent);
}

.mobile-txt {
    display: none;
}

.heading2 {
    text-align: center;
    color: var(--Accent);
    font-size: 23px;
    font-weight: 800;
    padding: 0px 8px;
}

.text2 {
    text-align: center;
    color: var(--Heading);
    padding: 8px 8px 0px;
}

.mob {
    display: none;
}

/* TODO: Media Queries */


@media (max-width: 1116px) {
    .right {
        padding: 10px;
    }
}

@media (max-width: 730px) {
    .left {
        width: 60%;
    }

    .right .heading {
        font-size: 33px;
    }
}

@media (max-width: 590px) {

    .main-container {
        height: unset;
        overflow: hidden !important;
        position: absolute;
        z-index: 100;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        height: auto;
        background: var(--Primary);
        gap: 20px;
        padding: 20px 10px;
        overflow: hidden !important;
    }

    .terms {
        width: unset;
    }

    .terms label {
        color: var(--Highlight) !important;
    }

    .have-acc {
        color: var(--Highlight);
    }

    .heading {
        display: none;
    }

    .mobile-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mob {
        display: flex;
    }

    .social-links {
        margin-top: 5px;
    }
}