:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    scroll-behavior: smooth;
}

.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: var(--Primary);
    color: var(--Highlight);
    position: sticky;
    top: 0;
    z-index: 1;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    font-family: 'Indie Flower', cursive;
    font-size: 23px;
    color: var(--Heading);
    user-select: none;
}

.icon {
    width: 40px;
}

.tag {
    transform-origin: top center;
    animation: dangle 1.5s ease-in-out infinite alternate;
}

@keyframes dangle {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-con {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
    max-width: 600px;
}

.search-con input {
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    max-width: 300px;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 5px;
    color: var(--Primary);
    background-color: var(--Highlight);
}

.search-con button {
    position: absolute;
    right: 0px;
    height: 80%;
    width: 30px;
    border-left: 2px solid #02304770;
}

.search-con button i {
    color: var(--Primary);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.cart-con {
    cursor: pointer;
    position: relative;
    display: none;
}

.super {
    position: absolute;
    font-size: 13px;
    top: 2px;
    left: 23px;
    user-select: none;
    color: var(--Accent);
}

.right {
    display: flex;
    align-items: center;
    position: relative;
}

.user-con {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.user-content-con {
    width: 180px;
    height: 200px;
    border-radius: 3px;
    position: absolute;
    background: var(--Highlight);
    top: -4px;
    right: 42px;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 0px;
}

.user-content-con::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid var(--Highlight);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.user-content-con button {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #011d2b;
    padding: 4px 10px;
    cursor: pointer;
    text-align: left;
    transition: .1s linear;
    width: fit-content;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.user-content-con button:hover{
    color: var(--Accent);
    text-decoration: underline;
}

.user-content-con button i{
    margin-right: 10px;
}

.right .btns {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--Heading);
    padding: 4px 10px;
    transition: color 0.3s ease;
}

.right .btns::after {
    content: "";
    position: absolute;
    left: 13%;
    bottom: 0;
    width: 75%;
    height: 2.1px;
    background: var(--Accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.right .btns:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.categories-con {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 10px;
    background: var(--Accent);
    color: var(--Highlight);
}

.category {
    font-size: 12px;
    text-align: center;
}

.ads-vouchers-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ads-con {
    width: 55%;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background: yellow;
}

.icon-cir {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    background: #a2a2a259;
    opacity: 0;
    transition: .2s ease;
}

.icon-cir i {
    color: white;
}

.ads-con:hover .icon-cir {
    opacity: 1;
}

.vouchers-con {
    width: 20%;
    height: 300px;
    background: #f12828;
}

.products-con {
    display: flex;
    justify-content: center;
}

.cards {
    width: 235px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000002b;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;

    margin: 80px 0px;
}

.cards:hover {
    box-shadow: 3px 3px 10px #00000052;
}

.cards img {
    width: 100%;
    height: 235px;
}

.pro-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pro-name {
    font-size: 13.5px;
    color: #021d2a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.pro-price-con {
    display: flex;
    align-items: center;
    gap: 5px;
}

.before-dis {
    color: #9e9e9e;
    font-size: 10px;
    text-decoration: line-through;
}

.discount {
    color: #212121;
    font-size: 10px;
}

.pro-price {
    color: var(--Accent);
    font-size: 18px;
}

.pro-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.pro-buyer {
    font-size: 13px;
    color: #021d2a;
}

.pro-rate {
    padding: 0px 0px 0px 4px;
    height: 15px;
    display: flex;
    align-items: center;
    border-left: 1px solid #0000004f;
}

.pro-rate i {
    font-size: 13px;
    color: #ffc636;
}

.pro-revs {
    font-size: 10px;
    margin-top: 1px;
    color: #8f93a0;
}

@media (max-width:800px) {
    .nav-con {
        padding: 10px 7px;
    }

    .left,
    .right {
        display: flex;
        justify-content: center;
    }

    .logo-text {
        font-size: 20px;
    }

    .icon {
        width: 33px;
    }

    .center {
        width: 100%;
        order: 3;
        display: flex;
        justify-content: center;
    }

    .cart-con {
        margin-top: 10px;
    }

    .right button {
        font-size: 15px;
        padding-top: 0px;
    }

    .search-con {
        margin-top: 8px;
    }
}

@media (max-width:360px) {
    .right {
        width: unset;
    }
}