:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    scroll-behavior: smooth;
}

.nav-con {
    position: static;
    z-index: 0;
    transition: all .3s ease;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: var(--Primary);
    color: var(--Highlight);
}

.nav-con.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: #00000057 0px 2px 20px;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-con {
    cursor: pointer;
    position: relative;
    display: none;
}

.super {
    position: absolute;
    font-size: 13px;
    top: 2px;
    left: 23px;
    user-select: none;
    color: var(--Accent);
}

.right {
    display: flex;
    align-items: center;
    position: relative;
}

.right .btns {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--Heading);
    padding: 4px 10px;
    transition: color 0.3s ease;
}

.right .btns::after {
    content: "";
    position: absolute;
    left: 13%;
    bottom: 0;
    width: 75%;
    height: 2.1px;
    background: var(--Accent);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.right .btns:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.ads-vouchers-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    margin-top: 10px;
}

.vouchers-con {
    width: 20%;
    height: var(--h);
    flex-shrink: 0;
    background: #f12828;
}

.products-categories-con {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0px;
}

.category-con {
    width: 92%;
    padding: 10px 10px 0px;
    border: 1px solid var(--Heading);
    scroll-margin-top: 100px;
}

.product-headings {
    color: var(--Accent);
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--Heading);
}

.products-container {
    width: 100%;
    position: relative;
}

/* initially only 3 rows visible */
.products-wrapper {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 18px;
    max-height: 730px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.4s ease;
}

.fade-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0), #F8F9FA);
    pointer-events: none;
}

.load-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 10px auto 0;
    padding: 12px 25px;
    border: none;
    color: var(--Secondary);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.cards {
    width: 240px;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000002b;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
}

.cards:hover {
    box-shadow: 3px 3px 9px #0000003d;
}

.product-img {
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--Heading);
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pro-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pro-name {
    font-size: 15px;
    color: #021d2a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.pro-price-con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.before-dis {
    color: #9e9e9e;
    font-size: 10px;
    text-decoration: line-through;
    padding-left: 5px;

}

.discount {
    color: #212121;
    font-size: 10px;
    padding-left: 5px;
}

.pro-price {
    color: var(--Accent);
    font-size: 18px;
}

.pro-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pro-buyer {
    font-size: 13px;
    color: #021d2a;
}

.pro-rate {
    padding: 0px 0px 0px 2px;
    height: 15px;
    display: flex;
    align-items: center;
    border-left: 1px solid #0000004f;
}

.pro-rate i {
    font-size: 13px;
    color: #ffc636;
}

.pro-revs {
    font-size: 10px;
    margin: 1px 0px 0px 2px;
    color: #8f93a0;
}

.customizeable {
    font-size: 7.5px;
    color: #8f8f8f;
}

@media (max-width:800px) {
    .category-con {
        scroll-margin-top: 140px;
    }

    .products-categories-con {
        padding: 40px 0px;
    }

    .vouchers-con {
        width: 30%;
    }

    .ads-con {
        width: 65%;
    }

    .nav-main {
        padding: 10px 7px;
    }

    .left,
    .right {
        display: flex;
        justify-content: center;
    }

    .center {
        width: 100%;
        order: 3;
        display: flex;
        justify-content: center;
    }

    .cart-con {
        margin-top: 10px;
    }

    .right button {
        font-size: 15px;
        padding-top: 0px;
    }

    .search-con {
        margin-top: 8px;
    }

    .product-headings {
        font-size: 29px;
    }
}

@media (max-width:580px) {
    .vouchers-con {
        display: none;
    }

    .products-categories-con {
        padding: 30px 0px;
    }

    .main-card {
        width: 200px;
    }

    .cards {
        width: 100%;
    }

    .product-img {
        height: 210px;
    }

    .pro-name {
        font-size: 15.5px;
    }

    .pro-price {
        font-size: 16px;
    }

    .discount {
        font-size: 9px;
    }

    .pro-buyer {
        font-size: 10px;
    }

    .pro-rate i {
        font-size: 11px;
    }

    .pro-revs {
        font-size: 8px;
    }

    .customizeable {
        font-size: 7.5px;
    }

    .product-headings {
        font-size: 28px;
    }
}

@media (max-width:490px) {

    .products-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .products-con {
        gap: 10px;
    }

    .main-card {
        width: 175px;
    }

    .product-img {
        height: 180px;
    }

    .product-headings {
        font-size: 26px;
    }
}

@media (max-width:420px) {
    .main-card {
        width: 150px;
    }

    .product-img {
        height: 150px;
    }

    .product-headings {
        font-size: 24px;
    }

    .products-categories-con {
        padding: 25px 0px;
    }

    .stars-con {
        font-size: 13px;
    }
}

@media (max-width:360px) {
    .main-card {
        width: 130px;
    }

    .products-categories-con {
        padding: 20px 0px;
    }

    .product-img {
        height: 150px;
    }

    .pro-name {
        font-size: 13px;
    }

    .pro-price {
        font-size: 16px;
    }

    .before-dis {
        font-size: 9px;
    }

    .discount {
        font-size: 8px;
    }

    .pro-buyer {
        font-size: 8px;
    }

    .pro-rate i {
        font-size: 9px;
    }

    .pro-revs {
        font-size: 7px;
    }

    .customizeable {
        font-size: 6.8px;
    }

    .right {
        width: unset;
    }

    .right .btns {
        font-size: 16px;
        padding: 0px 7px;
    }

    .product-headings {
        font-size: 23px;
    }

    .stars-con {
        font-size: 13px;
    }
}