:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.tab-bar-con {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--Heading);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 15px;
}

.tab-bar-con .products-count {
    font-size: 15px;
    color: #626262;
}

.products-list-con {
    width: 100%;
    padding: 20px 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Heading);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.products-list-con a {
    width: 100%;
}

.products-list-con .cards {
    display: flex;
    border: 1px solid #0000002b;
    border-radius: 2px;
    cursor: pointer;
    padding-right: 10px;
    transition: .3s ease;
}

.products-list-con .cards:hover {
    box-shadow: 3px 3px 9px #00000026;
}

.products-list-con .cards .product-img {
    min-width: 150px;
    max-width: 150px;
    height: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--Heading);
    margin-right: 10px;
}

.products-list-con .cards img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products-list-con .cards .pro-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0px 10px;
}

.products-list-con .cards .pro-details .pro-name {
    font-size: 18px;
    color: #021d2a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.products-list-con .cards .pro-details .pro-price-con {
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

.products-list-con .cards .pro-details .pro-price-con div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-list-con .cards .pro-details .pro-price-con .pro-price {
    color: var(--Accent);
    font-size: 24px;
}

.products-list-con .cards .pro-details .pro-price-con .before-dis {
    color: #9e9e9e;
    font-size: 15px;
    text-decoration: line-through;
}

.products-list-con .cards .pro-details .pro-price-con .discount {
    color: #212121;
    font-size: 13px;
}

.add-cart-btn {
    padding: 7px 8px;
    font-size: 15px;
    font-weight: 400;
    color: var(--Secondary);
    border: 2px solid var(--Secondary);
    cursor: pointer;
    background-image: url(/assets/blueLiquid.png);
    border-radius: 5px;
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .7s ease;
}

.add-cart-btn:hover {
    color: white;
    background-position: center;
}

.mobile-cart-btn {
    display: none;
}

.trash-btn {
    fill: var(--Primary);
}

.products-list-con .cards .pro-details .pro-info {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.products-list-con .cards .pro-details .pro-info .another {
    display: flex;
    align-items: center;
    gap: 7px;
}

.products-list-con .cards .pro-details .pro-info .another .pro-buyer {
    font-size: 14px;
    color: #021d2a;
    padding-right: 5px;
    border-right: 1px solid #0000004f;
}

.products-list-con .cards .pro-details .pro-info .another .pro-rate {
    display: flex;
    align-items: center;
}

.products-list-con .cards .pro-details .pro-info .another .pro-rate i {
    font-size: 16px;
    color: #ffc636;
}

.products-list-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
    font-size: 11px;
    margin: 1px 0px 0px 4px;
    color: #8f93a0;
}

.products-list-con .cards .pro-details .customizeable {
    font-size: 11.5px;
    color: #8f8f8f;
    padding-left: 3px;
}

.products-list-con .cards .pro-details div .pro-price-con {
    display: none;
}

@media (max-width:900px) {
    .mobile-cart-btn {
        display: flex;
        margin-top: 5px;
    }

    .products-list-con .cards .pro-details div .pro-price-con {
        display: flex;
        align-items: flex-start;
    }

    .tab-bar-con .view-icons i {
        font-size: 21px;
    }

    .tab-bar-con .products-count {
        font-size: 14px;
    }

    .products-list-con .cards .pro-details {
        padding: 5px 0px;
        display: unset;
    }

    .products-list-con .cards .pro-details div .pro-price-con div {
        gap: 6px;
        flex-direction: row;
    }

    .products-list-con .cards .pro-details .pro-price-con {
        display: none;
    }

    .products-list-con .cards .pro-details .pro-name {
        font-size: 17px;
    }

    .products-list-con .cards .pro-details .pro-price-con .before-dis {
        font-size: 12px;
    }

    .products-list-con .cards .pro-details .pro-price-con .discount {
        font-size: 10px;
    }

    .products-list-con .cards .pro-details .pro-price-con .pro-price {
        font-size: 20px;
    }

    .products-list-con .cards .pro-details .pro-info .another {
        gap: 5px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-buyer {
        font-size: 13px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate {
        padding: 0px 0px 0px 3px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate i {
        font-size: 13px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
        font-size: 11px;
    }

    .products-list-con .cards .pro-details .customizeable {
        font-size: 9.5px;
        padding-left: 3px;
    }
}

@media (max-width:580px) {
    .products-grid-con {
        padding: 20px 10px;
    }

    .main-card {
        width: 200px;
    }

    .main-card .cards {
        width: 100%;
    }

    /* .main-card .cards .product-img {
        height: 210px;
    } */

    .products-grid-con .cards .pro-details .pro-name {
        font-size: 15.5px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .pro-price {
        font-size: 16px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .discount {
        font-size: 9px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .pro-buyer {
        font-size: 10px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate i {
        font-size: 11px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
        font-size: 8px;
    }

    .products-grid-con .cards .pro-details .pro-info .customizeable {
        font-size: 7.5px;
    }

    .mobile-cart-btn {
        padding: 5px 6px;
    }
}

/* Main */
@media (max-width:500px) {
    .main-con {
        padding: 15px 5px;
    }

    .tab-bar-con {
        gap: 5px;
    }

    .products-list-con {
        padding: 5px 0px;
    }

    .products-list-con a {
        width: 98%;
    }

    .tab-bar-con .view-icons i {
        font-size: 20px;
    }

    .tab-bar-con .products-count {
        font-size: 13px;
    }

    .products-list-con .cards .product-img {
        height: unset;
        min-width: 105px;
        margin-right: 5px;
    }

    .products-list-con .cards .product-img img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .products-list-con .cards .pro-details .pro-name {
        font-size: 15px;
    }

    .products-list-con .cards .pro-details .pro-price-con .before-dis {
        font-size: 10px;
    }

    .products-list-con .cards .pro-details .pro-price-con .discount {
        font-size: 8px;
    }

    .products-list-con .cards .pro-details .pro-price-con .pro-price {
        font-size: 18px;
    }

    .products-list-con .cards .pro-details .pro-info .another {
        gap: 3px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-buyer {
        font-size: 11px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate {
        padding: 0px 0px 0px 1px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate i {
        font-size: 11px;
    }

    .products-list-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
        font-size: 9px;
    }

    .products-list-con .cards .pro-details .customizeable {
        font-size: 7.5px;
        padding-left: 3px;
    }

    .stars-con {
        font-size: 13px;
    }
}

@media (max-width:480px) {
    .add-cart-btn {
        font-size: 12px;
    }

    .products-grid-con {
        gap: 8px;
    }

    .main-card {
        width: 175px;
    }

    .main-card .cards .product-img {
        height: 180px;
    }

    .products-grid-con .cards .pro-details .pro-name {
        font-size: 15px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .pro-price {
        font-size: 15.5px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .discount {
        font-size: 8.5px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .pro-buyer {
        font-size: 9.5px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate i {
        font-size: 10.5px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
        font-size: 7.5px;
    }

    .products-grid-con .cards .pro-details .pro-info .customizeable {
        font-size: 7px;
    }
}

@media (max-width:420px) {
    .main-card {
        width: 150px;
    }

    .main-card .cards .product-img {
        height: 160px;
    }
}

@media (max-width:360px) {
    .add-cart-btn {
        font-size: 11px;
        padding: 5px;
    }

    .main-card {
        width: 140px;
    }

    .main-card .cards .product-img {
        height: 150px;
    }

    .products-grid-con .cards .pro-details .pro-name {
        font-size: 13px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .pro-price {
        font-size: 16px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .before-dis {
        font-size: 9px;
    }

    .products-grid-con .cards .pro-details .pro-price-con .discount {
        font-size: 8px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-buyer {
        font-size: 9px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate i {
        font-size: 9px;
    }

    .products-grid-con .cards .pro-details .pro-info .another .pro-rate .pro-revs {
        font-size: 8px;
    }

    .products-grid-con .cards .pro-details .pro-info .customizeable {
        font-size: 6.8px;
    }

    .right {
        width: unset;
    }
}