:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.reward-redeem-con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}