.pass-con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02304737;
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    z-index: 10;
}

.pass-con form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    background: var(--Highlight);
}

.pass-con form .heading {
    color: var(--Accent);
    font-size: 26px;
    font-weight: 600;
}

.pass-con form .password {
    position: relative;
    display: flex;
    align-items: center;
}

.pass-con form .password input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    color: #383838;
}

.pass-con form .password i {
    position: absolute;
    right: 7px;
    color: #383838;
    cursor: pointer;
}

.pass-con form .err-msg {
    display: flex;
    color: red;
    font-size: 12px;
    position: relative;
    margin: 0px;
}

.pass-con form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: var(--Highlight);
    background-color: var(--Secondary);
    cursor: pointer;
    transition: .2s;
}

.pass-con form button:hover {
    background-color: #1f849d;
}