.stars-con {
    font-size: 18px;
}

.stars {
    position: relative;
    display: inline-block;
}

.stars::after {
    content: "★★★★★";
    color: rgb(205, 205, 205);
    /* -webkit-text-stroke: .3px gold; */
    /* border golden */
}

.stars::before {
    content: "★★★★★";
    color: gold;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--rating, 0);
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 580px) {
    .stars-con {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .stars-con {
        font-size: 14px;
    }
}