:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.user-con {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.user-con img {
    width: 100%;
    object-fit: cover;
}

.user-content-con {
    width: 260px;
    border-radius: 3px;
    position: absolute;
    z-index: 9;
    background: var(--Highlight);
    top: -4px;
    right: 42px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--Heading);
}

.user-content-con::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid var(--Highlight);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.user-content-con .meta-con {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.user-content-con .info-con {
    display: flex;
    align-items: center;
}

.user-content-con .user-info {
    display: flex;
    flex-direction: column;
}

.user-content-con .user-info .big {
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    color: var(--Primary);
}

.user-content-con .user-info .small {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 10px;
    font-weight: 500;
    color: rgb(166, 166, 166);
}

.badge {
    width: 12px;
    height: 12px;
}

.user-info .badge svg {
    width: 100%;
    height: 100%;
}

.verified {
    background: #e0f9e7;
    color: #0f5132;
    border: 1px solid #0f5132;
}

.unverified {
    background: #fde2e2;
    color: #842029;
    border: 1px solid #842029;
}

.user-content-con .meta-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.user-content-con .meta-info .icon {
    width: 20px;
    height: 20px;
    user-select: none;
    -webkit-user-drag: none;
}

.user-content-con .meta-info span {
    font-size: 14px;
    font-weight: 500;
    color: var(--Accent);
}

.tier-con {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 5px;
}

.tier-con .tier-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tier-con .tier-info .muted {
    font-size: 13px;
    font-weight: 600;
    color: #556677;
}

.tier-con .tier-info img {
    width: 16px;
    height: 16px;
    user-select: none;
    -webkit-user-drag: none;
}

.progress {
    height: 7px;
    border-radius: 16px;
    background: #e6eef3;
    overflow: hidden;
    /* margin-top: 12px */
}

.progress>i {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, var(--Secondary), var(--Accent));
    width: 10%;
    transition: width .6s ease
}

/* .tier-con .tier-bar{
    width: 100%;
    height: 7px;
    background: #e6eef3;
    border-radius: 5px;
}

.tier-bar .prog{
    width: 10%;
    height: 100%;
    background: linear-gradient(90deg, var(--Secondary), var(--Accent));
    border-radius: 5px;
    border-top-right-radius: none;
} */

.user-content-con .side-btns {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    font-size: 19px;
    font-weight: 500;
    color: #023047;
    transition: .1s ease;
}

.user-content-con .icon {
    width: 25px;
    height: 25px;
    fill: #023047;
    transition: .1s ease;
}

@media (max-width: 450px) {
    .user-con {
        width: 29px;
        height: 29px;
    }
}