<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/admin/add-coupans.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/inputs.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Manage Coupans</title>
</head>

<body>
    <div class="wrapper">
        <div class="side-nav-con">
        </div>
        <div class="main-form">
            <a href="/admin/manage-coupans" class="back-btn">Back To Coupans List</a>
            <form class="form" action="/admin/manage-coupans/add-coupans" method="post">
                <div class="inputs">

                    <div class="field">
                        <input type="text" name="coupanCode" placeholder=" " required />
                        <label for="coupanCode">Coupan Code</label>
                    </div>
                    <div class="field">
                        <input type="number" name="coupanDiscount" placeholder=" " required />
                        <label for="coupanDiscount">Coupan Discount</label>
                    </div>
                    <div class="field">
                        <input type="number" name="coupanLimit" placeholder=" " required />
                        <label for="coupanLimit">No. of Coupans</label>
                    </div>
                    <div class="field">
                        <input type="text" name="coupanDescription" placeholder=" " required />
                        <label for="coupanDescription">Coupan Description</label>
                    </div>
                    <div class="field">
                        <input type="date" name="coupanEndDate" placeholder=" " required />
                        <label for="coupanEndDate">Coupan EndingDate</label>
                    </div>

                </div>
                <button class="btn-submit">Add Coupan</button>
            </form>
        </div>
        <form class="form" action="/admin/manage-coupans/add-redeem" method="post">
            <div class="inputs">

                <div class="field">
                    <input type="text" name="Title" placeholder=" " required />
                    <label for="Title">Title</label>
                </div>
                <div class="field">
                    <input type="text" name="subTitle" placeholder=" " required />
                    <label for="subTitle">SubTitle</label>
                </div>
                <div class="field">
                    <input type="text" name="Description" placeholder=" " />
                    <label for="Description">Description</label>
                </div>
                <div class="field">
                    <input type="number" name="cost" placeholder=" " required />
                    <label for="cost">Cost</label>
                </div>
                <div class="field">
                    <input type="number" name="limitation" placeholder=" " />
                    <label for="limitation">limitation</label>
                </div>
                <div class="field">
                    <input type="date" name="RedeemEndDate" placeholder=" " />
                    <label for="RedeemEndDate">Redeem EndDate</label>
                </div>

            </div>
            <button class="btn-submit">Add Redeem</button>
        </form>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/admin/add-coupans.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>