<!DOCTYPE html>
<html lang="en">

<head data-page="products">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/admin/add-products.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/common/user-admin-nav.css">
    <link rel="stylesheet" href="/css/common/inputs.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Add Products</title>
</head>

<body>
    <div class="wrapper">
        <div class="side-nav-con">
        </div>
        <div class="content-con">
            <a href="/admin/manage-products" class="back-btn">Back To Products List</a>
            <div class="add-products">
                <form id="productForm" class="form" action="/admin/manage-products/add-products" method="post"
                    enctype="multipart/form-data">
                    <div class="inputs">
                        <div class="img-con">
                            <label for="image-upload" class="upload-label">Choose Main image</label>
                            <input name="thumbnail" type="file" id="image-upload" class="image-upload-input"
                                accept="image/*" required>
                            <label for="images-upload" class="upload-label">Choose Side images</label>
                            <input name="galleryURLs" type="file" id="images-upload" class="image-upload-input"
                                multiple>
                        </div>

                        <div class="field">
                            <input type="text" name="proName" id="proName" placeholder=" " required />
                            <label for="proName">Product Name</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proPrice" id="proPrice" placeholder=" " required />
                            <label for="proPrice">Product Price</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proOrignalPrice" id="proOrignalPrice" placeholder=" " />
                            <label for="proOrignalPrice">POPrice</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proDiscount" id="proDiscount" placeholder=" " />
                            <label for="proDiscount">Coupan Discount</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proBuyer" id="proBuyer" placeholder=" " />
                            <label for="proBuyer">Coupan Buyers</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proNoOfReviews" id="proNoOfReviews" placeholder=" " />
                            <label for="proNoOfReviews">Product Reviews</label>
                        </div>
                        <div class="field">
                            <input type="number" name="proRating" id="proRating" step="any" placeholder=" " />
                            <label for="proRating">Product Rating</label>
                        </div>
                        <div class="field">
                            <input type="text" name="proDescription" id="proDescription" placeholder=" " required />
                            <label for="proDescription">Product Desc</label>
                        </div>
                        <div class="field">
                            <input type="text" name="proCategory" id="proCategory" placeholder=" " required />
                            <label for="proCategory">Product Category</label>
                        </div>

                        <div class="field">
                            <select id="choose" name="choose" required>
                                <option value="" disabled selected hidden></option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                            <label for="choose">Customization</label>
                        </div>

                        <div class="dropdown">
                            <div class="selected-items">Add Sizes</div>
                        </div>
                        <div class="options optionSizes" id="optionsSizeBox">
                            <div class="add-remove-btn">
                                <div class="plus-symbol" id="addSize"><i class="fa-solid fa-plus"></i></div>
                                <div class="plus-symbol" id="removeSize">-</div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <div class="selected-items">Add Colors</div>
                        </div>
                        <div class="options optionColors" id="optionsColorBox">
                            <div class="add-remove-btn">
                                <div class="plus-symbol" id="addColor"><i class="fa-solid fa-plus"></i></div>
                                <div class="plus-symbol" id="removeColor">-</div>
                            </div>
                        </div>

                    </div>
                    <button class="btn-submit">Add Product</button>
                </form>
                <div class="card-preview">
                    <img class="pro-img" src="/assets/product.webp" alt="">
                    <div class="pro-details">
                        <div class="pro-name">
                            Online Karachi Bamboo Handle Pizza Rolling Cutter Steel/1pcs Pizza Cutter Wheel Shaped
                            Stainless
                            Steel Pizza With Bamboo Handles And Sharp Rotating Blades Pizza Slicer Roll
                        </div>
                        <div class="pro-price-con">
                            <div class="pro-price">Rs.950</div>
                            <div class="before-dis">Rs.1000</div>
                            <div class="discount">-5%</div>
                        </div>
                        <div class="pro-info">
                            <div class="pro-buyer">11 Sold</div>
                            <div class="pro-rate">
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <!-- <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i> -->
                            </div>
                            <span class="pro-revs">(10)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/common/at-start.js"></script>
    <script src="/js/common/user-admin-nav.js"></script>
    <script src="/js/admin/add-products.js"></script>
    <script src="/js/common/footer.js"></script>
    <script src="/js/common/at-last.js"></script>
</body>

</html>