<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/admin/admin-coupan.css">
    <link rel="stylesheet" href="/css/common/logo.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Manage Coupans</title>
</head>

<body>
    <div class="wrapper">
        <div class="main-form">
            <form class="form" action="/admin/add-coupan" method="post">
                <div class="inputs">
                    <input type="text" name="coupanCode" placeholder="Coupan Code" required>
                    <input type="number" name="coupanDiscount" placeholder="Coupan Discount" required>
                    <input type="number" name="coupanLimit" placeholder="No. of Coupans" required>
                    <input type="text" name="coupanDescription" placeholder="Coupan Description" required>

                    <div class="coupan-date">
                        <label for="coupanEndDate">Coupan Ending Date</label>
                        <input id="coupanEndDate" type="date" name="coupanEndingDate" required>
                    </div>

                </div>
                <button class="btn-submit">Add Coupan</button>
            </form>
        </div>
    </div>

    <script src="/js/common/loader.js"></script>
    <script src="/js/admin/admin-sidebar.js"></script>
    <script src="/js/common/footer.js"></script>
</body>

</html>