<!DOCTYPE html>
<html lang="en">

<head data-page="products">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/admin/admin-add-products.css">
    <link rel="stylesheet" href="/css/common/logo.css">
    <link rel="stylesheet" href="/css/common/loader.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <title>Admin - Add Products</title>
</head>

<body>
    <div class="wrapper">
        <div class="content-con">
            <div class="add-products">
                <a href="/admin/manage-products" class="back-btn">Back To Products List</a>
                <form id="productForm" class="form" action="/admin/manage-products/add-products" method="post"
                    enctype="multipart/form-data">
                    <div class="inputs">
                        <div style="display: flex; gap: 20px;">
                            <label for="image-upload" class="upload-label">Choose Main image</label>
                            <input name="thumbnail" type="file" id="image-upload" class="image-upload-input"
                                accept="image/*" required>
                            <label for="images-upload" class="upload-label">Choose Side images</label>
                            <input name="galleryURLs" type="file" id="images-upload" class="image-upload-input"
                                multiple>
                        </div>
                        <input id="proName" type="text" name="proName" placeholder="Product Name" required>
                        <input id="proPrice" type="number" name="proPrice" placeholder="Product Price" required>
                        <input id="proOrignalPrice" type="number" name="proOrignalPrice"
                            placeholder="Product Orignal Price" value="">
                        <input id="proDiscount" type="number" name="proDiscount" placeholder="Product Discount" value="">
                        <input id="proBuyer" type="number" name="proBuyer" placeholder="Product Buyer" value="">
                        <input id="proNoOfReviews" type="number" name="proNoOfReviews"
                            placeholder="Product No of Reviews" value="">
                        <input id="proRating" type="number" name="proRating" placeholder="Product Rating">
                        <input id="proDescription" type="text" name="proDescription" placeholder="Product Description"
                            required>
                        <input id="proCategory" type="text" name="proCategory" placeholder="Product Category" required>
                        <select id="choose" name="choose" required>
                            <option value="false">False</option>
                            <option value="true">True</option>
                        </select>
                        <div class="dropdown">
                            <div class="selected-items">Add Sizes</div>
                        </div>
                        <div class="options optionSizes" id="optionsSizeBox">
                            <div class="add-remove-btn">
                                <div class="plus-symbol" id="addSize"><i class="fa-solid fa-plus"></i></div>
                                <div class="plus-symbol" id="removeSize">-</div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <div class="selected-items">Add Colors</div>
                        </div>
                        <div class="options optionColors" id="optionsColorBox">
                            <div class="add-remove-btn">
                                <div class="plus-symbol" id="addColor"><i class="fa-solid fa-plus"></i></div>
                                <div class="plus-symbol" id="removeColor">-</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-submit">Add Product</button>
                </form>
                <div class="card-preview">
                    <img class="pro-img" src="/assets/product.webp" alt="">
                    <div class="pro-details">
                        <div class="pro-name">
                            Online Karachi Bamboo Handle Pizza Rolling Cutter Steel/1pcs Pizza Cutter Wheel Shaped
                            Stainless
                            Steel Pizza With Bamboo Handles And Sharp Rotating Blades Pizza Slicer Roll
                        </div>
                        <div class="pro-price-con">
                            <div class="pro-price">Rs.950</div>
                            <div class="before-dis">Rs.1000</div>
                            <div class="discount">-5%</div>
                        </div>
                        <div class="pro-info">
                            <div class="pro-buyer">11 Sold</div>
                            <div class="pro-rate">
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="star-wrapper">
                                    <i class="fa-solid fa-star base"></i>
                                    <div class="fill">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <!-- <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i> -->
                            </div>
                            <span class="pro-revs">(10)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/common/loader.js"></script>
    <script src="/js/admin/admin-add-products.js"></script>
    <script src="/js/admin/admin-sidebar.js"></script>
    <script src="/js/common/footer.js"></script>
</body>

</html>