:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

body {
    background-color: var(--Highlight);
}

.content-con {
    width: 100%;
    padding: 10px;
}

.add-products {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.back-btn {
    font-size: 17px;
    color: var(--Accent);
    cursor: pointer;
}

.form {
    width: 70%;
    padding: 10px;
    background-color: #f5f5f500;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-con {
    display: flex;
    gap: 20px;
}

.upload-label {
    border: 2px dashed #ccc;
    padding: 20px 10px;
    width: 65%;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: bold;
    color: #021e2b;
    cursor: pointer;
    transition: .2s ease;
}

.image-upload-input {
    display: none;
}

.btn-submit {
    padding: 5px 15px;
    text-align: center;
    color: var(--Accent);
    border: 2px solid var(--Accent);
    border-radius: 5px;
    cursor: pointer;
    background-image: url(https://devmaster7.github.io/Pages-for-Mega-Project/assets/liquid.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .5s ease;
}

.btn-submit:hover {
    color: white;
    background-position: center;
}

.dropdown {
    border: 1px solid #545454;
    border-radius: 6px;
    width: 206px;
    padding: 7px 5px;
    cursor: pointer;
    position: relative;
    background-color: var(--Highlight);
}

.selected-items {
    color: #545454;
}

.options {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    position: absolute;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-remove-btn {
    display: flex;
    gap: 25px;
}

.plus-symbol {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--Accent);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.add-inputs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-inputs input {
    outline: none;
    border: 1px solid var(--Accent);
    border-radius: 3px;
    padding: 2px 4px;
}

.add-inputs input::placeholder {
    color: var(--Primary);
}

.pre-color {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid var(--gray);
    border-radius: 3px;
}

.card-preview {
    width: 235px;
    flex-direction: column;
    border: 1px solid #0000002b;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
}

.card-preview:hover {
    box-shadow: 3px 3px 10px #00000052;
}

.card-preview img {
    width: 100%;
    height: 235px;
}

.pro-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pro-name {
    font-size: 13.5px;
    color: #021d2a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s ease;
}

.pro-price-con {
    display: flex;
    align-items: center;
    gap: 5px;
}

.before-dis {
    color: #9e9e9e;
    font-size: 10px;
    text-decoration: line-through;
}

.discount {
    color: #212121;
    font-size: 10px;
}

.pro-price {
    color: var(--Accent);
    font-size: 18px;
}

.pro-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.pro-buyer {
    font-size: 13px;
    color: #021d2a;
}

.pro-rate {
    padding: 0px 0px 4px 4px;
    height: 15px;
    display: flex;
    gap: 1px;
    align-items: center;
    border-left: 1px solid #0000004f;
}

.star-wrapper {
    position: relative;
    display: inline-block;
}

.star-wrapper .base {
    -webkit-text-stroke: 1px rgb(255, 217, 0);
    color: transparent;
}

.star-wrapper .fill {
    color: rgb(255, 217, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.star-wrapper i {
    font-size: 12px;
    color: rgb(255, 217, 0);
}

.pro-revs {
    font-size: 10px;
    margin-top: 1px;
    color: #8f93a0;
}

@media (max-width:770px) {
    .form {
        width: 100%;
    }

    .inputs {
        gap: 10px;
    }

    .field {
        width: 170px !important;
    }
}

@media (max-width:400px) {
    .field{
        width: 155px !important;
    }
}