:root {
    --primary: #023047;
    --secondary: #219EBC;
    --accent: #FB8500;
    --light: #F8F9FA;
    --dark: #121212;
    --gray: #e0e0e0;
    --white: #fff;
}

.wrapper {
    width: 100%;
    display: flex;
}

.side-nav-con {
    height: 100vh;
    position: sticky;
    top: 65px;
}

.side-nav {
    width: 250px;
    min-width: 250px;
    height: 100%;
    background: var(--primary);
    border: 1px solid var(--light);
    border-left: none;
    padding: 10px;
    transition: .2s ease;
}

.side-nav.active {
    position: absolute;
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    color: var(--light);
    padding: 12px 0;
    cursor: pointer;
    transition: background 0.3s, padding-left 0.3s;
}

.links a:hover {
    border-radius: 2px;
    background-color: var(--accent);
    padding-left: 10px;
}


@media (max-width: 770px) {
    .side-nav-con {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: none;
        position: fixed;
        z-index: 99;
        background: #0230472b;
        backdrop-filter: blur(2px);
        transition: all 0.3s ease-in-out;
    }

    .side-nav {
        transform: translateX(-100%);
        /* display: none; */
        /* transform: translateX(-1000px); */
    }
}