:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    width: 50%;
    padding: 10px;
    background-color: #f5f5f500;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form input,
.form select {
    width: 40%;
    outline: none;
    padding: 7px 5px;
    background: var(--Highlight);
    border: 1px solid var(--Heading);
    border-radius: 5px;
    color: #021e2b;
}

.form select::placeholder,
.form input::placeholder {
    color: #021e2b;
}

.form .inputs .coupan-dates-con {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form .inputs .coupan-date {
    display: flex;
    flex-direction: column;
}

.form .inputs .coupan-date input {
    width: 100%;
}

.btn-submit {
    padding: 5px 15px;
    text-align: center;
    color: var(--Accent);
    border: 2px solid var(--Accent);
    border-radius: 5px;
    cursor: pointer;
    background-image: url(https://devmaster7.github.io/Pages-for-Mega-Project/assets/liquid.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: .5s ease;
}

.btn-submit:hover {
    color: white;
    background-position: center;
}