:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.content-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 95%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Heading);
    border-radius: 3px;
}

.filter-bar-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--Heading);
}

.info-text {
    font-family: sans-serif;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 15px;
    color: #555;
    cursor: text;
}

.info-text span {
    font-weight: 500;
}

.info-text i {
    position: relative;
    font-size: 13px;
}

.user-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.user-box {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #00000024;
    border: 1px solid var(--Heading);
    scroll-margin-top: 10px;
}

.user-box .left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.user-box .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: 2px solid #d6d6d6;
}

.right .info-text span {
    user-select: none;
    cursor: pointer;
}

.dropdown-options {
    position: absolute;
    top: -5px;
    left: 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: max-content;
    display: none;
    cursor: default;
    flex-direction: column;
}

.dropdown-options .btn {
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-options .btn:hover {
    background-color: #f2f2f2;
}

.dropdown-options .info-text {
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-options .info-text span {
    user-select: text;
    cursor: default;
}

.ts{
    color: rgb(24, 255, 39);
}

.fs{
    color: rgb(255, 38, 38);
}