:root {
    --primary: #023047;
    --secondary: #219EBC;
    --accent: #FB8500;
    --light: #F8F9FA;
    --dark: #121212;
    --gray: #e0e0e0;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--light);
    color: #333;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main h1 {
    font-size: 28px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px !important;
    max-width: 300px !important;
}

.card p:first-child {
    font-size: 14px;
    color: gray;
    margin-bottom: 8px;
}

.card .total-txt {
    font-size: 24px;
    font-weight: bold;
}

.card canvas {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.actions a {
    background-color: var(--secondary);
    color: var(--white);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.actions a:hover {
    background-color: #186d8f;
}

/* Full Width Footer */
footer {
    background-color: var(--gray);
    padding: 20px;
    text-align: center;
    color: #444;
    margin-top: auto;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .main {
        padding: 20px;
    }

    .actions a {
        flex: 100%;
    }

    /* .cards {
        flex-direction: column;
    } */
}