:root {
    --Primary: #023047;
    --Secondary: #219EBC;
    --Accent: #FB8500;
    --Highlight: #F8F9FA;
    --Heading: #CCD6F6;
}

.content-con {
    width: 100%;
}

.show-coupans {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.main-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--Heading);
    border-radius: 5px;
}

.filter-bar-con {
    width: 100%;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--Heading);
}

.filter-bar-con .text {
    font-weight: 600;
    font-size: 16px;
    color: #555;
}

.filter-bar-con .text span {
    font-weight: 500;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filters select {
    font-size: 15px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.filters select:hover,
.filters select:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 4px #219ebcb5;
}

.filters select option {
    color: #555;
}

.select-btn {
    cursor: pointer;
    color: var(--Secondary);
    font-weight: 600;
}

.new-btn-con {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.new-btn-con .btn {
    font-size: 17px;
    color: var(--Accent);
    cursor: pointer;
}

.coupan-container {
    padding: 10px;
    padding-top: 0px;
}

.coupan-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid var(--Heading);
    scroll-margin-top: 10px;
}

.info-text {
    font-family: sans-serif;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 15px;
    color: #555;
    cursor: text;
}

.info-text span {
    font-weight: 500;
}